<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="">
    <title>@ViewBag.Title - OPC</title>
 
</head>
<body>
   
    <div class="">
        @RenderBody()
    </div>

 
</body>
</html>
