@using System.Data;
@{
    ViewBag.Title = "About";
}

<head>
    <meta charset="UTF-8">
    <title> OPC Bao Cao | OPCPHARMA </title>
    <link rel="stylesheet" href="~/Styles/main.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <img src="~/Images/opc.png">
            @*<i class='bx bxl-c-plus-plus'></i>*@
            <span class="logo_name">OPC</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="#" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-box'></i>
                    <span class="links_name">Danh Mục</span>
                </a>
            </li>
            <li>
                <a href="/Home/MainBaoCao">
                    <i class='bx bx-menu'></i>
                    <span class="links_name">Báo Cáo</span>
                </a>
            </li>



            <li onclick="logout()" class="log_out">
                <a href="#">
                    <i onclick="logout()" class='bx bx-log-out'></i>
                    <span onclick="logout()" class="links_name">Log out</span>
                </a>
            </li>
            <li onclick="ChangPassword()" class="changePassword">
                <a href="#">
                    <i onclick="ChangPassword()" class='bx bx-log-out'></i>
                    <span onclick="ChangPassword()" class="links_name">Đổi Mật Khẩu</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Dashboard</span>
            </div>
            <div class="search-box">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search'></i>
            </div>
            <div>

            </div>
        </nav>

        <div class="home-content">
            <div class="overview-boxes">
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic" style="font-size:medium;font-weight:600;color:red">Doanh Thu khoán theo OTC</div>
                        <div class="number" style="text-align:center;">Chưa Cập Nhật </div>
                        <div class="indicator">
                            @*@)<i class='bx bx-up-arrow-alt'></i>*@
                            @*<span class="text">Up from yesterday</span>*@
                        </div>
                    </div>

                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic" style="font-size:medium;font-weight:600;color:green">Doanh Thu Thực Hiện OTC</div>
                        <div class="number">Chưa Cập Nhật</div>
                        <div class="indicator">

                        </div>
                    </div>

                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic" style="font-size:medium;font-weight:600;color:red">Doanh Thu Khoán Theo ETC</div>
                        <div class="number">Chưa Cập Nhật</div>
                        <div class="indicator">

                        </div>
                    </div>

                </div>
                <div class="box">
                    <div class="right-side">
                        <div class="box-topic" style="font-size:medium;font-weight:600;color:green">Doanh Thu Thực Hiện ETC</div>
                        <div class="number">Chưa Cập Nhật</div>
                        <div class="indicator">

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <script>
            let sidebar = document.querySelector(".sidebar");
            let sidebarBtn = document.querySelector(".sidebarBtn");
            sidebarBtn.onclick = function () {
                sidebar.classList.toggle("active");
                if (sidebar.classList.contains("active")) {
                    sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
                } else
                    sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
            }

            function logout() {
                window.location.href = "/home/login"
            }
            document.getElementById("TOP1").innerHTML = Response.innerHTML.g;

            $("#leftside-navigation .sub-menu > a").click(function (e) {
                $("#leftside-navigation ul ul").slideUp(), $(this).next().is(":visible") || $(this).next().slideDown(),
                    e.stopPropagation()
            })
            function ChangPassword() {
                window.location.href = "/home/DoiMatKhau"
            }
    </script>

</body>

