@{
    ViewBag.Title = "OPC Bao Cao | OPCPHARMA";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> OPC Bao Cao | OPCPHARMA </title>
    <link rel="stylesheet" href="~/Styles/mainbaocao.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        a:hover {
            background-color: lightskyblue;
        }

        a {
            text-decoration: none;
        }
        .collapsed {
            display: none;
        
        }
        .contentList{
            display:none;
        }
       
    </style>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <a href="/Home/About"><img src="~/Images/opc.png"></a>
            @*<i class='bx bxl-c-plus-plus'></i>*@
            <span class="logo_name">OPC</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/Home/About" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class='bx bx-box'></i>
                    <span class="links_name">Danh Mục</span>
                </a>
            </li>
            <li>
                <a href="/Home/MainBaoCao">
                    <i class='bx bx-menu'></i>
                    <span class="links_name">Báo Cáo</span>
                </a>
            </li>




            <li onclick="logout()" class="log_out">
                <a href="#">
                    <i onclick="logout()" class='bx bx-log-out'></i>
                    <span onclick="logout()" class="links_name">Log out</span>
                </a>
            </li>

        </ul>
    </div>
    <section class="home-section">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Báo Cáo</span>
            </div>
            <div class="search-box">
                <input id="myInput" onkeyup="myFunction()" type="text" placeholder="Search...">
                <i class='bx bx-search'></i>
            </div>
            <div>

            </div>
        </nav>

        @*<div class="home-content">
            <ul class="home-baocao" id="myUL">
                <li><a href="/BangKeHoaDon/bangkehoadon"> &emsp;1. Bảng Kê Chứng Từ</a></li>
                <li><a href="/BCDoanhThuTDV/BCDoanhThuTDV">&emsp;2. Doanh Thu TDV</a></li>

            </ul>
        </div>*@

    <div class="home-content">

        <h3 id="toggleList" style=" height: 22px; font-size: 50px; cursor: pointer;">
            Báo Cáo Quản Trị
        </h3><br /><br />
        <ul class="home-baocao" id="contentList">

            <li><a href="/DoanhThuChiNhanh/DoanhThuChiNhanh_Fill"> &emsp;1. Doanh Thu Chi Nhánh</a></li>
         
        </ul>

        <h3 id="toggleList1" style=" height: 22px; font-size: 50px; cursor: pointer;">
            Báo Cáo Nghiệp Vụ
        </h3><br /><br />
                   <ul class="home-baocao" id="contentList1">
                       <li><a href="/bangkehoadon/bangkehoadon_Fill"> &emsp;1. Bảng kê chứng từ SO</a></li>
                       <li><a href="/BaoCaobanHangCN/BaoCaoBanHangCN_Fill"> &emsp;2. Báo Cáo Bán Hàng Chi Nhánh</a></li>
                       <li><a href="/BaoCaoBanHangTDV/BaoCaoBanHangTDV_Fill">&emsp;3. Báo Cáo bán hàng TDV</a></li>
                   </ul>

    </div>
    </section>
  
    <script>
        // JavaScript để xử lý sự kiện click và điều khiển hiển thị của danh sách và bài viết
        const toggleList = document.getElementById("toggleList");
        const contentList = document.getElementById("contentList");
        const toggleArticle = document.getElementById("toggleArticle");
        const article = document.querySelector("article");

        toggleList.addEventListener("click", function () {
            contentList.classList.toggle("collapsed");
        });

        toggleArticle.addEventListener("click", function () {
            article.classList.toggle("collapsed");
        });
    </script>
    <script>


        function logout() {
            window.location.href = "/home/login"
        }

       


    
            // JavaScript để xử lý sự kiện click và điều khiển hiển thị của danh sách và bài viết
            const toggleList1 = document.getElementById("toggleList1");
            const contentList1 = document.getElementById("contentList1");
            const toggleArticle = document.getElementById("toggleArticle");
            const article = document.querySelector("article");

            toggleList.addEventListener("click", function () {
                contentList.classList.toggle("collapsed1");
            });

            toggleArticle.addEventListener("click", function () {
                article.classList.toggle("collapsed1);
            });
    </script>

</body>
</html>
