@{
    ViewBag.Title = "OPC Bao Cao | OPCPHARMA";
}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title> OPC Bao Cao | OPCPHARMA </title>
    <link href="~/Styles/mainbaocao.css" rel='stylesheet' type='text/css' media="all">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <style>
        a {
            text-decoration: none;
        }

        .collapsed {
            display: none;
        }

        .contentList {
            display: none;
        }

       
    </style>
</head>
<body>
    <div class="sidebar">
        <div class="logo-details">
            <a href="/Home/About"><img src="~/Images/opc.png"></a>
            @*<i class='bx bxl-c-plus-plus'></i>*@
            <span class="logo_name">OPC</span>
        </div>
        <ul class="nav-links">
            <li>
                <a href="/Home/About" class="active">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Trang chủ</span>
                </a>
            </li>

            <li>
                <a href="/DanhMuc/DanhMuc">
                    <i class='bx bx-box'></i>
                    <span class="links_name">Danh Mục</span>
                </a>
            </li>
            <li>
                <a href="/Home/MainBaoCao">
                    <i class='bx bx-menu'></i>
                    <span class="links_name">Báo Cáo</span>
                </a>
            </li>




            <li onclick="logout()" class="log_out">
                <a href="/Home/Login">
                    <i onclick="logout()" class='bx bx-log-out'></i>
                    <span onclick="logout()" class="links_name">Log out</span>
                </a>
            </li>

        </ul>
    </div>
    <section class="home-section" style="width: 100%;height:100%;display: block">
        <nav>
            <div class="sidebar-button">
                <i class='bx bx-menu sidebarBtn'></i>
                <span class="dashboard">Báo Cáo</span>
            </div>
            <div class="search-box">
                <input id="myInput" onkeyup="myFunction()" type="text" placeholder="Search...">
                <i class='bx bx-search'></i>
            </div>
            <div>

            </div>
        </nav>


        <div class="home-content-1" style="padding-top:100px">

            <h3 class="title-1" style="font-size: 40px">
                Báo Cáo Quản Trị
            </h3>
            @if (string.Equals(ViewBag.UserName, "admin", StringComparison.OrdinalIgnoreCase))
            {
                <div class="box-container-1">
                    <div class="box-row-1-1">
                        <h3>Doanh Thu Chi Nhánh</h3>

                    </div>
                    <div class="box-row-2-1">
                        <a class="button-1" href="/DoanhThuChiNhanh/DoanhThuChiNhanh_Admin_Fill"><span>Xem</span></a>
                    </div>


                </div>
            }
            else
            {
                <div class="box-container-1">
                    <div class="box-row-1-1">
                        <h3>Doanh Thu Chi Nhánh</h3>

                    </div>
                    <div class="box-row-2-1">
                        <a class="button-1" href="/DoanhThuChiNhanh/DoanhThuChiNhanh_Fill"><span>Xem</span></a>
                    </div>


                </div>
            }

            <div class="box-container-2">
                <div class="box-row-1-2">
                    <h3>Doanh Thu CN Tính Lương</h3>
                </div>
                <div class="box-row-2-2">
                    <a class="button-2" href="/DoanhThuChiNhanh/DoanhThuChiNhanhTinhLuong_Fill"><span>Xem</span></a>
                </div>
            </div>
        </div>
        @*Bao cao nghiep vu*@
                <div class="home-content-2" style="padding-top:50px">

                    <h3 id = "toggleList1" style="height:40px; font-size: 40px;font-family:Century;margin-left:10px">
                        Báo Cáo Nghiệp Vụ
                    </h3>

                    <div class="box-container-3">
                        <div class="box-row-1-3">
                            <h3>Bảng Kê Chứng Từ SO</h3>

                        </div>
                        <div class="box-row-2-3">
                            <a class="button-3" href="/bangkehoadon/bangkehoadon_Fill"><span>Xem</span></a>
                        </div>


                    </div>
                    <div class="box-container-4">
                        <div class="box-row-1-4">
                            <h3>Báo Cáo Bán Hàng CN</h3>
                        </div>
                        <div class="box-row-2-4">
                            <a class="button-4" href="/BaoCaobanHangCN/BaoCaoBanHangCN_Fill"><span>Xem</span></a>
                        </div>
                    </div>
                    <div class="box-container-5">
                        <div class="box-row-1-5">
                            <h3>Báo Cáo Bán Hàng TDV</h3>
                        </div>
                        <div class="box-row-2-5">
                            <a class="button-5" href="/BaoCaoBanHangTDV/BaoCaoBanHangTDV_Fill"><span>Xem</span></a>
                        </div>
                    </div>
                    <div class="box-container-6">
                        <div class="box-row-1-6">
                            <h3>Báo Cáo Tiền Về CN</h3>
                        </div>
                        <div class="box-row-2-6">
                            <a class="button-6" href="/BaoCaoTienVeCN/BaoCaoTienVeCN_Fill"><span>Xem</span></a>
                        </div>
                    </div>

                </div>
                <div class="home-content-3" style="padding-top:50px">


                    <div class="box-container-7">
                        <div class="box-row-1-7">
                            <h3>Báo Cáo Tiền Về TDV</h3>

                        </div>
                        <div class="box-row-2-7">
                            <a class="button-7" href="/BaoCaoTienVeCN/BaoCaoTienVeTDV_Fill"><span>Xem</span></a>
                        </div>


                    </div>
                    <div class="box-container-8">
                        <div class="box-row-1-8">
                            <h3>DT Gam Theo Đối Tượng</h3>
                        </div>
                        <div class="box-row-2-8">
                            <a class="button-8" href="/BaoCaoDoanhThuGamHangTheoDoiTuong/BaoCaoDoanhThuGamHangTheoDoiTuong_Fill"><span>Xem</span></a>
                        </div>
                    </div>
                </div>
                <!--<div class="home-content-2">
                <h3 id = "toggleList1" style="height: 22px; font-size: 50px; cursor: pointer;font-family:Century;margin-left:10px">
                    Báo Cáo Nghiệp Vụ
                </h3><br /><br />-->
        @*<div class="box-container">
        <div class="box1">
            <a href="/bangkehoadon/bangkehoadon_Fill">&emsp;1. Bảng kê chứng từ SO</a>
        </div>
        <div class="box2">
            <a href="/BaoCaobanHangCN/BaoCaoBanHangCN_Fill">&emsp;2. Báo Cáo Bán Hàng Chi Nhánh</a>
        </div>
    </div>*@
            <!--<ul class="home-baocao" id="contentList1">

        <li style="list-style-type:none"><a href="/bangkehoadon/bangkehoadon_Fill">&emsp;1. Bảng kê chứng từ SO</a></li>
        <li style="list-style-type:none"><a href="/BaoCaobanHangCN/BaoCaoBanHangCN_Fill">&emsp;2. Báo Cáo Bán Hàng Chi Nhánh</a></li>
        <li style="list-style-type:none"><a href="/BaoCaoBanHangTDV/BaoCaoBanHangTDV_Fill">&emsp;3. Báo Cáo bán hàng TDV</a></li>
        <li style="list-style-type:none"><a href="/BaoCaoTienVeCN/BaoCaoTienVeCN_Fill">&emsp;4. Báo Cáo Tiền Về Chi Nhánh</a></li>
        <li style="list-style-type:none"><a href="/BaoCaoTienVeCN/BaoCaoTienVeTDV_Fill">&emsp;5. Báo Cáo Tiền Về TDV</a></li>
        <li style="list-style-type:none"><a href="/BaoCaoDoanhThuGamHangTheoDoiTuong/BaoCaoDoanhThuGamHangTheoDoiTuong_Fill">&emsp;6. Báo Cáo Doanh Thu Gam Hàng Theo Đối Tượng</a></li>
    </ul>



     </div>-->
</section>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".sidebarBtn");
        sidebarBtn.onclick = function () {
            sidebar.classList.toggle("active");
            if (sidebar.classList.contains("active")) {
                sidebarBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            } else
                sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
        }

        function logout() {
            window.location.href = "/home/login"
        }
        document.getElementById("TOP1").innerHTML = Response.innerHTML.g;

        $("#leftside-navigation .sub-menu > a").click(function (e) {
            $("#leftside-navigation ul ul").slideUp(), $(this).next().is(":visible") || $(this).next().slideDown(),
                e.stopPropagation()
        })
        function ChangPassword() {
            window.location.href = "/home/DoiMatKhau"
        }
    </script>
    <script>
        // JavaScript để xử lý sự kiện click và điều khiển hiển thị của danh sách và bài viết
        const toggleList = document.getElementById("toggleList");
        const contentList = document.getElementById("contentList");
        const toggleArticle = document.getElementById("toggleArticle");
        const article = document.querySelector("article");

        toggleList.addEventListener("click", function () {
            contentList.classList.toggle("collapsed");
        });

        toggleArticle.addEventListener("click", function () {
            article.classList.toggle("collapsed");
        });
    </script>
    <script>

        function logout() {
            window.location.href = "/home/login"
        }





        // JavaScript để xử lý sự kiện click và điều khiển hiển thị của danh sách và bài viết
        const toggleList1 = document.getElementById("toggleList1");
        const contentList1 = document.getElementById("contentList1");
        const toggleArticle = document.getElementById("toggleArticle");
        const article = document.querySelector("article");

        toggleList.addEventListener("click", function () {
            contentList.classList.toggle("collapsed1");
        });

        toggleArticle.addEventListener("click", function () {
            article.classList.toggle("collapsed1");
        });
    </script>

    <script>
        window.onload = function () {
            var username = localStorage.getItem("username");
            if (username) {
                var nameInput = document.getElementById("Name");
                if (nameInput) {
                    nameInput.value = username;
                }
                localStorage.removeItem("username");
            }
        };
    </script>


</body>
</html>
