@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <script>
window.onload = function () {
    var chartData = @Html.Raw(ViewBag.DataPoints);

    for (var i = 0; i < chartData.length; i++) {
        chartData[i].indexLabel = chartData[i].y + "%"; // Thêm giá trị % vào thuộc tính indexLabel
    }

    var chart = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        exportEnabled: true,
        theme: "light1s",
        title: {
            text: "Báo Cáo Doanh Thu"
        },
        axisY: {
            title: "% Tỷ Lệ"
        },
        data: [{
            type: "column",
            dataPoints: chartData // Sử dụng mảng đã được chỉnh sửa
        }]
    });

    chart.render();
}
    </script>
</head>
<body>
    <div id="chartContainer" style="height: 370px; width: 30%;"></div>
    <script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
</body>
</html> 