
@{
    ViewBag.Title = "Phiếu Xác Nhận Thanh Toán";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Phiếu Xác Nhận Thanh Toán</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Times New Roman';
        }

        page {
            size: A4;
            margin: 0;
        }

        body {
            display: flex;
            justify-content: center;
            /*  align-items: center;*/
            min-height: 100vh;
            margin: 0;
        }

        form {
            text-align: center;
            padding: 20px;
            border: 0px solid #ccc;
            border: none;
        }

        .flex-container {
            text-align: left;
        }
    </style>
</head>
<body>
    <form>


        <div>
            <h3 style="margin-left:-500px; font-size:13px;">CÔNG TY CỔ PHẦN DƯỢC PHẨM OPC</h3>
            <h3 style="font-weight:bold;color:black; font-size:13px;margin-left:-500px">CHI NHÁNH ĐÀ NẴNG</h3>
        </div>
        <br />

        <div>
            <h3 style="font-size: 25px; color: black; font-weight: bold">XÁC NHẬN THANH TOÁN</h3>
            <br />
        </div>
        <div style="text-align:left;margin-left:30px">
            <h5>-Căn cứ Luật thương mại số 36/2005/QH11 ngày 14/06/2005;</h5>
            <h5>-Căn cứ vào hợp đồng số: ...../thỏa thuận của đôi bên.</h5>
        </div>
        <br />
        <div class="flex-container">
            <h5 style="display: inline-block;color:black;font-weight:bold">Khách hàng: <span style="font-size: 15px;">NHÀ THUỐC HẢI PHÒNG</span></h5>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <h5 style="display: inline-block; color: black; font-weight: bold">NV_01580</h5>
        </div>
        <div style="text-align: left; color: black; font-weight: bold">
            <h5>Địa Chỉ: 1017 Hồng Bàng, phường 12, Quận 6, Tp.HCM </h5>
        </div>
        <br />
        <div style="text-align:left;color:black;font-weight:bold">
            <h5>Điều kiện thanh toán: </h5>
        </div>

        <div style="text-align:left">
            <h5 style="font-size: 13px">Khi thanh toán ngay, Quý khách hàng được chiết khấu 2% trên giá trị thanh toán của những hóa đơn cụ thể như sau: </h5>
        </div><br />
        <div>
            <table border="1" border-collapse="collapse">
                <tr style="font-size:10px;font-weight:bold;color:black">
                    <th style="padding:10px">SỐ</th>
                    <th>NGÀY HĐ</th>
                    <th>NGÀY THU</th>
                    <th>TIỀN HĐ</th>
                    <th>GIÁ TRỊ CODE</th>
                    <th>PMH_100</th>
                    <th>PMH_50</th>
                    <th>CKTT</th>
                    <th>TIỀN THANH TOÁN</th>
                </tr>
                <tbody>
                    <tr>
                        <td style="padding:30px"></td>
                        <td style="padding:35px"></td>
                        <td style="padding:35px"></td>
                        <td style="padding:40px"></td>
                        <td style="padding:30px"></td>
                        <td style="padding:30px"></td>
                        <td style="padding:30px"></td>
                        <td style="padding:30px"></td>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                    <tr style="color:black;font-weight:bold">
                        <td>&nbsp;&nbsp;</td>
                        <td colspan="2">Tổng cộng: </td>

                        <td>&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;</td>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                </tbody>

            </table>
            <br />
            <div style="text-align:left">
                <h5 style="word-wrap: break-word;font-size:15px">Khách hàng đã thanh toán số tiền;...................., nhận chiết khấu thanh toán số tiền:..................., nhận code <br />khuyến mãi số tiền:......... </h5>
            </div><br />
            <div style="text-align:right">
                <h4>Đà Nẵng, ngày&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;tháng&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;năm&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
            </div>
            @*<h4 style="margin-left:auto">P. KHCU &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Thủ kho&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Xưởng sản xuất</h4>*@
            <div style="display:inline-block">
                <h4 style="display:inline-block">Khách Hàng</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h4 style="display:inline-block">Nhân viên thu tiền </h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <h4 style="display:inline-block">Người lập bảng</h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div><br />
            <div>
                <h5 style="font-style:italic;text-align:left;margin-left:40px">(Ký, ghi họ tên)</h5>
            </div>
        </div>
    </form>
</body>
</html>

